{% extends "index.html" %}
{% include "nav.html" %}
{% block content %}

<!-- Page Content -->

<div class="fluid-container">
<div class="row">

    <div class="col-sm-6">

<h1>Edit Item</h1>


<form method="POST">
    <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" size="50" name="name" class="form-control" value="{{item.name}}">
    </div>

    <div class="form-group">
    <labe for="Desscription">Description:</label>
    <input type="text" size="50" name="description" class="form-control" value="{{item.description}}">
    </div>

    <div class="form-group">
    <button type="submit" id="submit" class="btn btn-primary">
    Save
    </button>

    <a href="{{url_for('showCatalog')}}">
    <button type="button" class="btn btn-danger">Cancel</button>
    </a>
    </div>
    
    </div>
</form>

</div>

</div>
<!-- end row -->
</div>
<!-- /.container -->
{% endblock %}